// copy this file to data/config.json
// and edit the file

// delete these comment lines !
//the esp32/arduino json can handle comments in json files, but Jquery can not

{
		// ssid of local wifi net to connect to, if not present forces the scanner to start in AP mode.
	"ssid"					: "myWifi",
		// password for same will also be used as AP password if running in AP mode.
	"password"				: "secret",
		// hostname together with location will used as ssid when running in AP mode.
	"hostname"				: "BLE_Scan_",
		// ip address to use as client, leave blank for DHCP assigned.
	"ipaddress"				: "",
		// ip address to use when in AP mode. Defaults to 192.168.4.1 if not set or invalid .
	"apipaddress"			: "192.168.4.1",
		// netmask to use when running in ap mode. Defaults to 255.255.255.0 if not set.
	"netmask"				: "255.255.255.0",
		// FQDN/IP address to mqtt server. Required.
	"mqttServer"			: "mqtt.local.net",
		// mqtt port. Defaults to 1883 if not set.
	"mqttPort"				: "1883",
		// mqtt user with submit previlieges. Defaults to empty string if not present.
	"mqttUser"				: "BLE32Scanner",
		// password for same. Defaults to empty string if no present.
	"mqttPassword"			: "MQttSecret",
		// base of scant topic for scan results, location will be concatenated at end for full topic
	"mqttScanTopicPrefix" : "/HAS/presence/scan/",
		// base of status topic for status messages will be concatenated with location
	"mqttStateTopicPrefix"	: "/HAS/presence/status/",
		// name of location where sensor is located used as subtopic in scan and status reports and AP SSID
	"location"					: "Location 0",
		// FQDN /IP address of nntp server used for retreiving correct time. Defaults to pool.ntp.org
	"ntpServer"				: "pool.ntp.org",
		// GMT offset of local time zone in seconds 
	"gmtOffset"				: "0",
		// daylight saving offset if in effect
	"daylightOffset"		: "0"
 }
