.legend {
	padding:12px;
	border: 20px;
	background-color: gray;
	font-weight: bold;
}

.label {
	font-weight: bold;
	background-color: rgba(128,128,128,0.3);
	width: 210px;
}

th {
	font-weight: bold;
	background-color: rgba(128,128,128,0.3);
}

.fieldset {
	margin: auto;
	width: 90%;
    background:#FFFFFF;
    border: 2px #56C1F1 solid;
	margin-top:8px;
    padding:8px;
    font-size:1em;
}

p {
    margin:0.5em 0;
}

.field {
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        background:#ffffff;
        color:#000000;
        border-color: transparent;
        border-bottom: 1px solid #56C1F1;
        outline: none;
        padding-left:5px;
        margin:1px 0 2px 0;
}
input {
	border:none;
}

input[type=range] {
        width:50%%;
}

textarea {
        font: 13px verdana;
        width:100%;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        background:#ffffff;
        color:#000000;
        border-color: transparent;
        outline: none;
        padding:5px;
        margin:5px 0;
}

#logfield {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border-color: transparent;
  font: medium -moz-fixed;
  font: 13px verdana;
  height: 200px;
  overflow: auto;
  padding: 5px;
  resize: both;
  width: 100%;
}


body {   
        text-align:center;
        font-family:verdana,sans-serif;
        background:#FFFFFF;
}

button {
        border:0;
        border-radius:0.3rem;
        background:#56C1F1;
        color:#faffff;
        line-height:2.4rem;
        font-size:1.2rem;
        width:100%;
        -webkit-transition-duration:0.4s;
        transition-duration:0.4s;
        cursor:pointer;
}

button:hover {
        background:#0e70a4;
}
.uuid {
	width: 20em;
}	
.name {
	width: 20em;
}

.labelP {
	display: inline;
}

.save {
        background:#56C1F1;
}

.save:hover {
        background:#0e70a4;
}

a { 
        color:#1fa3ec;
        text-decoration:underline;
}
.l {
	text-align:left;
	margin-left:10px;
}

.p {
        float:left;
        text-align:left;
}

.q {
        float:right;
        text-align:right;
}

.r {
        border-radius:0.3em;
        padding:2px;
        margin:6px 2px;
}

.nav_button {
    font: bold 16px verdana;
    text-decoration: none;
    background-color: #56C1F1;
    color: #FFFFFF;
    padding: 4px 8px 4px 8px;
    border-top: 2x solid #56C1F1;
    border-right: 2x solid #4aa7d3;
    border-bottom: 2px solid #4aa7d3;
    border-left: 2px solid #56C1F1;
  }

.nav_button:hover {
    background-color: #43b6eb;
}
[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:35px;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	bottom:35px;
	left:0px;
	padding:5px 8px;
	background:lightyellow;
	color:#0;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}
